/*base element*/
.svgContainer {
	display: inline-block;
	margin: 20px;
	width: 1200px;
	height: 600px;
	border: 2px solid grey; 
	overflow: hidden;
}

/*graph edge*/
.edge {
	stroke: #ccc;
	fill: transparent;
}

/*graph selected path*/
.path {
	stroke: cornflowerblue;
	fill: transparent;
}

/*arrow colors*/
.arrowMark {
	fill: #ccc;
	stroke: #5bb;
}

/*platform colors*/
.platformMark {
	fill: #ccc;
	stroke: darkorange;
}

/*label colors*/
.verticeLabel {
	font-size: 5px;
	fill: #177;
	z-index: 100;
}