/*base element*/
.graphContainer {
	position: absolute; 
	top: 0; 
	left: 0;

	display: block;
	box-sizing: border-box;
	width: 100%;
	height: 50%;

	overflow: hidden;
}

/*base element for legend*/
.legendContainer {
	z-index: 10;
	position: absolute;
	bottom: 20px;
	right: 20px;

	display: block;
	width: 100px;
	height: 100px;

	background-color: #eee;
}

/*graph edge*/
.edge {
	stroke: #ccc;
	fill: transparent;
}

/*graph selected path*/
.path {
	stroke: cornflowerblue;
	fill: transparent;
}

/*arrow colors*/
.arrowMark {
	fill: #ccc;
	stroke: #5bb;
}

/*platform colors*/
.platformMark {
	fill: #ccc;
	stroke: darkorange;
}

/*label colors*/
.verticeLabel {
	/*font-size: 5px; moved to config*/
	fill: #177;
}

/*path label colors*/
.pathVerticeLabel {
	/*font-size: 7px; moved to config*/
	font-weight: bold;
	fill: midnightblue;
	text-decoration: underline;
}