.svgContainer {
	display: inline-block;
	margin: 20px;
	width: 1200px;
	height: 600px;
	border: 2px solid grey; 
	overflow: hidden;
}

.edge {
	stroke: #ccc;
	fill: transparent;
}

.path {
	stroke: cornflowerblue;
	fill: transparent;
}

.arrowMark {
	fill: #ccc;
	stroke: #5bb;
}

.platformMark {
	fill: #ccc;
	stroke: darkorange;
}

.verticeLabel {
	font-size: 5px;
	fill: #177;
	z-index: 100;
}